body
   min-width: 320px
   -webkit-font-smoothing: antialiased
   -moz-osx-font-smoothing: grayscale
   color: $color1
   font-size: 16px
   height: 100%
   line-height: 1
   font-family: Poppins, sans-serif
   &.is-locked
      position: fixed
      top: 0
      left: 0
      right: 0
      height: 0
      overflow: hidden
html
   overflow-x: hidden
.container
   max-width: 1170px
   margin: 0 auto
   padding: 0 15px
.row
   display: flex
   flex-wrap: wrap
   margin: 0 -15px
.uppercase
   text-transform: uppercase          




   

		
		
