extends layouts/_layout

block variables
	-title = 'Starting template'
	-bodyClass = ''
	-headerClass = 'headerclass'
	

block content
	.colors
		.color color 1
		.color color 2
		.color  color 3
		.color color 4
		.color color 5
	H1.title Original Shoes
	.btn-container
	.section-center


































